.App {
  min-height: 100vh;
  display: flex;
  background-color: #72A2F1;
}

/* Pages */

.homepg {
  height: 91.5vh;
  padding: 10px;
}


/* Header */

nav {
  padding: 5px 10px 5px 10px;
}

.header-img {
  height: 30px;
  width: 30px;
}

.notti-button {
  border: none;
  background: none;
  margin-right: 10px;
} 

.profile-img {
  height: 50%;
  width: 50%;
}

.chatitemlistimg {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.cl-mb {
  margin-bottom: 10px;
}

/* Chats */

.chatbox {
  background-color: #E8E8E8;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chatimg {
  height: 10px;
  width: 10px;
}

/* * {
  max-height: 100%;
}

.mt-custom {
  padding-top: 20vh;
}

.rp-custom {
  padding-top: 20px;
}

.x {
  padding-right: 75px;
}

.notti-button {
  border: none;
  background: none;
  margin-right: 10px;
} 

.searchbar {
  padding-left: 20px;
}

.header-img {
  height: 30px;
  width: 30px;
}

.profile-img {
  height: 50%;
  width: 50%;
}

.chatitemlistimg {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.required-field {
  color: red;
}

.nice {
  width: 100%;
  margin-bottom: 10px;
}

.newgrouptitle {
  font-size: 25px;
}

.homepagebody {
  height: 91%;
  overflow: auto;
  max-height: 75%;

  max-height: 91%;
}

.newgroupinput {
  margin-bottom: 10px;
}

.badgeitem {
  width: 100px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px;
}

.messagebox {
  width: 98%;
  height: 89%;
  background-color: #D2DBDF;
}

.updatebttn {
  margin-left: 10px;
  height: 40px;
}

.alert-message {
  width: 400px;
  height: 30px;
}

.singlechatspinner {
  margin-right: 50%;
}

.pagesize {
  max-height: 100%;
  max-width: 100%;
  max-height: 75%;
}

.okem {
  max-height: 75%;
}

.chatlist {
  height: 91%;
} */
