.App {
  min-height: 100vh;
  display: flex;
  background-color: #72A2F1;
}

.mt-custom {
  padding-top: 20vh;
}

.rp-custom {
  padding-top: 20px;
}

.x {
  padding-right: 75px;
}

.notti-button {
  border: none;
  background: none;
  margin-right: 10px;
} 

.searchbar {
  padding-left: 20px;
}

.header-img {
  height: 30px;
  width: 30px;
}

.profile-img {
  height: 50%;
  width: 50%;
}

.chatitemlistimg {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.required-field {
  color: red;
}

.nice {
  width: 100%;
  margin-bottom: 10px;
}

.newgrouptitle {
  font-size: 25px;
}

.homepagebody {
  height: 91%;
}

.newgroupinput {
  margin-bottom: 10px;
}

.badgeitem {
  /* width: 100px; */
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px;
}

.messagebox {
  width: 98%;
  height: 89%;
  background-color: #D2DBDF;
}

.updatebttn {
  margin-left: 10px;
  height: 40px;
}

